:root{
    --main-heading-color: white;
    --main-heading-size: 4rem;

    --clock-box-bg-color: #93d1ce;
    --timer-display-bg-color:  #de892a;
    --time-bg-color: #feeeb8;
    --time-color: rgb(132, 32, 32);
    

    --btn-color: rgb(94, 63, 63);
    --btn-bg-color: #93d1ce;
    --btn-bg-hover-color: rgb(237, 245, 27);
    --btn-border-color: rgb(47, 174, 159);
}

/* common-class-styling */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body styling */
html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    background: url(./IMAGES/bg_clock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* heading */
#main-heading{
    z-index: 10;
    box-shadow: 6px 7px 15px white ;
    font-size: var(--main-heading-size);
    color: var(--main-heading-color);
}

/* clock - container */
#clock-container {
    margin-top: 40px;
    flex-direction: column-reverse; 
    width: 100%;
    height: 100%;
}

#timerClock {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    min-width: 400px;
    min-height: 300px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons div{
    cursor: pointer;
    font-size: 1.8rem;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--btn-border-color);
    border-radius: 20px;
    
    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    
}

.buttons div:hover {
    transform: scale(1.05,1.05);
    background-color: var(--btn-bg-hover-color);
}

#clock-box {
    background-color: var(--clock-box-bg-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#timer-display {
    width: 80%;
    height: 70%;

    padding: 10px;

    border-radius: 15px;
    background-color: var(--timer-display-bg-color);
}

#timer-display-time {
    flex-direction: column;
    width: 80%;
    height: 70%;

    border-radius: 15px;
    padding: 2px 20px;
    background-color: var(--time-bg-color);
}

#timer-display-time #time {
    font-size: 4.6rem;
    font-weight: 600;
    font-family: 'serif', sans-serif;
    color: var(--time-color);
}

#timer-display-time #time #centi-seconds{
    color: rgb(180, 229, 18);
}

@media screen and (max-width: 450px){
    #main-heading{
        font-size: 3rem;
    }
    #timerClock{
        min-width: 300px;
    }
    #timer-display-time #time {
        font-size: 3.5rem;
    }
}
